.sidebar__avatar {
    padding: 85px 25px 15px 25px;
}
.sidebar__avatar p {
    min-height: 20px;
    float: none;
    display: block;
    line-height: normal;
    margin-bottom: 0px;
}
.sidebar__avatar-name {
    font-weight: bold;
}
@media (min-width: 1200px) {
    .sidebar {
        overflow: auto;
        height: 100vh;
        position: fixed !important;
        left: 0;
    }
}